body {
    font-family: 'Courier New', Courier, monospace;
    background-color: orange;
    font-size: 15pt;
}

header {
    text-align: center;
    color: white;
}

section {
    background-color: white;
    padding: 15px;
    border-radius: 10px;
    width: 500px;
    margin: auto;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.315);
}

div {
    padding: 15px;
}


footer {
    text-align: center;
    font-style: italic;
}